.myCurrencies
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding-top: 64px

    &-header
        width: 700px
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
        color: var(--text-color)
        font-size: 32px
        font-weight: 700

    &-item
        width: 700px
        height: 80px
        margin-bottom: 16px
        background: var(--background-color)
        color: var(--text-color)
        font-size: 20px
        border: 2px solid #DDDDDD
        padding: 15px
        display: flex
        align-items: center
        justify-content: space-between

        &:hover
            border: 2px solid var(--text-color)

        &__fav
            height: 32px
            width: 32px
            cursor: pointer

            svg path
                stroke: var(--text-color)
                fill: var(--text-color)
